.content{
    text-align: center;
}

.form-control{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.hidden{
    visibility: hidden;
}

input{
    margin-top: 2%;
}

footer{
    padding-bottom: 1%;
    margin: auto;
}

.btn{
    text-align: center;
    margin: auto; 
    margin-top: 2%;
}

.Missing{
    color: red;
}

.Done{
    color: chartreuse;
}