.content{
    text-align: center;
}

.form-control{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.hidden{
    visibility: hidden;
}

input{
    margin-top: 2%;
}

footer{
    padding-bottom: 1%;
    margin: auto;
}

.btn{
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.Missing{
    color: red;
}

.Done{
    color: rgb(87, 173, 2);
}

.export{
    width: 30%;
    margin-bottom: 2%;
}

select{
    -moz-appearance: none;

    -webkit-appearance: none;
}

#activity-title{
    padding-top: 2%;
}

form{
    display: inline;
}