.content{
    text-align: center;
    padding-top: 1%;
}

.form-control{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.hidden{
    display: none;
}

input{
    margin-top: 2%;
}

footer{
    padding-top: 2%;
}
