{% extends "layout.html"%}

{% block title %}
    Courses
{% endblock %}

{% block main%}
    
    <!-- TODO use bootstrap -->
    {% if courses %}
        <table class="table table-striped">
            <thead>
                <td>Courses</td>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{course}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>There are no courses</h3>
    {% endif %}

{% endblock %}