{% extends "layout.html"%}

{%block script%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        $(document).ready(() =>{
            let courses = $('#courses');
            let topics = $('#topics');
            let activities = $('#activities');
            let button = $('#get_button');

            courses.css({'display': 'block'})

            courses.change(() =>{
                $.post('/request_api',{'course_id': courses.val()} , (request_topics) =>{
                    html = '<option disabled selected value> select a topic </option>';

                    for (let topic in request_topics)
                    {
                        html += `<option value="${request_topics[topic]}">${topic}</option>`
                    }

                    topics.html(html)
                    topics.css({'display': 'block'})
                });
            });
        });

    </script>
{%endblock%}

{%block main%}    
    {% if session.credentials %}
        
    <form action="/select" method="POST">

        <select class="form-control hidden" name="course_id" id="courses">
            {% for course in courses%}
                <option disabled selected value> select a course </option>
                <option value="{{courses[course]}}">{{course}}</option>
            {%endfor%}
        </select>
        <select class="form-control hidden" name="topic_id" id="topics"></select>
        <select class="form-control hidden" name="activity_id" id="activities"></select>

        <input id="get-button" class="btn btn-primary hidden" type="submit" value="GO">
    </form>

    {% else %}
        <a class="btn btn-primary" href="/login">Log In</a>
    {% endif %}
{%endblock%}