{% extends "layout.html"%}

{%block script%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        $(document).ready(() =>{
            
            let courses = $('#courses');
            let topics = $('#topics');
            let activities = $('#activities');
            let button = $('#get-button');

            courses.css({'visibility': 'visible'})

            courses.change(() =>{
                topics.css({'visibility':'hidden'})
                activities.css({'visibility':'hidden'})
                button.css({'visibility':'hidden'})
                
                $.post(
                    '/request_api',
                    {
                        'course_id': courses.val()
                    }, 
                    (request_topics) =>{
                        html = '<option disabled selected style="display:none;"> select a topic </option>';

                        for (let topic in request_topics)
                        {
                            html += `<option value="${request_topics[topic]}">${topic}</option>`;
                        }

                        topics.html(html);
                        topics.css({'visibility': 'visible'});
                    });
                
                });

            topics.change(() =>{
                activities.css({'visibility':'hidden'})
                button.css({'visibility':'hidden'})
                
                $.post(
                    '/request_api',
                    {
                        'course_id': courses.val(),
                        'topic_id': topics.val()
                    },
                    (request_activities) =>{
                        html = '<option disabled selected style="display:none;"> select a activity </option>';

                        for (let activity in request_activities)
                        {
                            html += `<option value="${request_activities[activity]}">${activity}</option>`;
                        }

                        activities.html(html);
                        activities.css({'visibility': 'visible'});
                    });
            });

        activities.change(() =>{
            button.css({'visibility': 'visible'}) 
        });
        
    });

    </script>
{%endblock%}

{%block main%}    
    {% if session.credentials %}
        
    <form action="/submission_data" method="POST">

        <select class="btn btn-danger dropdown-toggle form-control custom-select hidden" name="course_id" id="courses">
            <option disabled selected style="display:none;"> select a course </option>
            {% for course in courses%}
                <option value="{{courses[course]}}">{{course}}</option>
            {%endfor%}
        </select>
        <select class="btn btn-warning dropdown-toggle form-control custom-select hidden" name="topic_id" id="topics"></select>
        <select class="btn btn-success dropdown-toggle form-control custom-select hidden" name="activity_id" id="activities"></select>

        <br>

        <input id="get-button" class="btn btn-primary hidden" type="submit" value="GO">
    </form>

    {% else %}
        <div style="margin-bottom: 34%;">
            <a class="btn btn-primary btn-lg" href="/login">Log In</a>
        </div>
    {% endif %}
{%endblock%}