{% extends "layout.html"%}

{% block title %}
    Submission Data
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>State</th>
        </thead>
        <tbody>

            {% for student in students_submission_states %}
                <tr>
                    <td>{{student[0]}}</td>
                    <td class="{{student[1]}}">{{student[1]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}